* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    font-family: 'Roboto Slab', serif;
    background-color: #105e09;    
}

body.change-background {
    background: linear-gradient(
		to left, #575656, 
		#777 40%, 
		#ccc 60%, 
		#777 95%);    
  }

h1 {
    text-align: center;
    margin: 2rem;
    color: #fff;
    text-shadow: 2px 2px 2px rgb(0, 0, 0.46);
}
.container {
	display: grid;
	grid-template-columns: 70% 20%;
	grid-template-rows: 1fr 1fr;
	column-gap: 2em;
	margin: 0 5%;
}

.puntuacion {
	grid-column: 2/3;
	align-self: center;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	border-radius: 5px;
	background-color: rgba(255, 251, 251, 0.95);
	padding: 1rem;
	box-shadow: 5px 5px 20px black;
	block-size: 120px;

	&:hover { cursor: default}
}
.puntuacion p {
	font-size: 28px;
	text-align: center;
	font-weight: 900;
}

.puntuacion:hover,
button{ 
	box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.664); 
}

.ajustes {
	height: 70%;
	grid-row: 2 / 3;
	display: flex;
	gap: 0.3em;
	aspect-ratio: 1 / 1;
}
button { 
	font-size: 22px; 
	background-color: rgba(255, 251, 251, 0.95);
	border-radius: 5px;
	padding: 0.5em;
}

div.ajustes:hover,
button:hover { cursor: pointer; }

main {
	grid-area: 1 / 1 / 3 / 1;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4, 1fr);
	max-width: 700px;	
	position: relative;
	place-self: center end;
}
figure,
figure img {
	display: inline-block;
	width: 100%;
}
figure {
	position: relative;
	transition: all ease 0.4s;
	transform-style: preserve-3d;
	transform: perspective(600px) rotateY(0deg);
	cursor: pointer;
	box-shadow: 3px 3px 16px rgb(0, 0, 0, 0.6);
}
figure::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0);
	transition: 0.3s all ease;
}
figure:hover:after {
	background: rgba(255, 255, 255, 0.137);
}
figure.opened {
	transform: perspective(600px) rotateY(180deg);
}
figure .back {
	display: block;
	backface-visibility: hidden;
}
figure .searched-img {
	position: absolute;
	top: 0;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: hidden;
}

@media only screen and (max-width:800px) {
	.container { 
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2em;
	}
	.puntuacion { 
		background-color: rgba(255, 251, 251, 1);
	}
	.ajustes { 
		height: 25vh;
		aspect-ratio: 16 / 9;
		align-items: center;

		img {
			width: 40%;
			aspect-ratio: 1 / 1 ;
		}
	 }
	 button {
		block-size: 80px;
		border-radius: 10px;
		font-weight: 500;
	 }
}
@media only screen and (max-width:450px) {
	main {
		grid-template-columns: repeat(2, 1fr);
	}
	.puntuacion {
		position: sticky;
		top:0%;
		z-index: 100;
		block-size: 60px;
		div {
			display: flex;
			gap: 2em;
		}
	}

}